<div class="list-group-item">
	<form name="commentForm" ng-submit="newComment.addComment()" novalidate>
		<div class="form-group">
			<label>Rating:</label>
			<rating ng-model="newComment.data.rating" max="{{maxRating}}"
				data-size="xl"></rating>
		</div>
		<div class="form-group"
			ng-class="{'has-error': formFuncs.hasErrorClass(commentForm, 'comment') }">
			<textarea id="comment" name="comment" type="text"
				ng-focus="newComment.toggleCommentPrompt(true)"
				ng-blur="newComment.toggleCommentPrompt(false)"
				ng-model="newComment.data.comment"
				ng-model-options="{ updateOn: 'default blur' }"
				class="form-control" required rows="3"></textarea>
			<div class="my-messages">
				<div class="prompt message-animation"
					ng-if="newComment.messages.showStartTimePrompt">How was your
					experience with the studio?</div>
			</div>
			<div class="my-messages" ng-messages="commentForm.comment.$error"
				ng-if="formFuncs.showMessages(commentForm, 'comment')">
				<div class="message-animation" ng-message="required">
					<strong>This field is required.</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-2 text-center">
				<button type="submit" id="button-order"
					class="btn btn-block btn-primary center-block"
					ng-disabled="commentForm.$invalid">Leave a Review</button>
			</div>
		</div>
	</form>
	<div class="my-messages" style="margin-top: 1em">
		<div class="message-animation alert alert-success" role="alert"
			style="display: block"
			ng-if="newComment.messages.showSubmittedPrompt">Thank you! Your
			comment has been added.</div>
		<div class="message-animation alert alert-danger" role="alert"
			style="display: block" ng-if="newComment.messages.showSubmittedError">{{errorText}}</div>
	</div>
</div>