<div class="jumbotron">
	<h2 class="text-center">Login</h2>
	<form name="loginForm" class="form-horizontal" ng-submit="login()"
		role="form" novalidate>

		<!-- USERNAME -->
		<div class="form-group has-feedback" style="margin: 2em"
			ng-class="{ 'has-error' : formFuncs.hasErrorClass(loginForm, 'username'), 'has-success' : formFuncs.hasSuccessClass(loginForm, 'username') }">
			<label>Username</label> <input type="text" name="username"
				class="form-control" ng-model="credentials.name" required
				ng-focus="funcs.toggleUserNamePrompt(true)"
				ng-blur="funcs.toggleUserNamePrompt(false)"
				ng-model-options="{ updateOn: 'default blur' }" />
			<div class="my-messages">
				<div class="prompt message-animation"
					ng-if="messages.showUserNamePrompt">Insert your username.</div>
			</div>
			<div class="my-messages" ng-messages="loginForm.username.$error"
				ng-if="formFuncs.showMessages(loginForm, 'username')">
				<div class="message-animation" ng-message="required">
					<strong>This field is required.</strong>
				</div>
			</div>
		</div>

		<!-- PASSWORD -->
		<div class="form-group has-feedback" style="margin: 2em"
			ng-class="{ 'has-error' : formFuncs.hasErrorClass(loginForm, 'password'), 'has-success' : formFuncs.hasSuccessClass(loginForm, 'password') }">
			<label>Password</label> <input type="password" name="password"
				class="form-control" ng-model="credentials.password" required
				ng-focus="funcs.togglePasswordPrompt(true)"
				ng-blur="funcs.togglePasswordPrompt(false)"
				ng-model-options="{ updateOn: 'default blur' }" />
			<div class="my-messages">
				<div class="prompt message-animation"
					ng-if="messages.showPasswordPrompt">Insert your password.</div>
			</div>
			<div class="my-messages" ng-messages="loginForm.username.$error"
				ng-if="formFuncs.showMessages(loginForm, 'password')">
				<div class="message-animation" ng-message="required">
					<strong>This field is required.</strong>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-5 col-sm-2 text-center">
				<button type="submit" id="button-order"
					class="btn btn-block btn-primary center-block"
					ng-disabled="loginForm.$invalid">Login</button>
			</div>
		</div>

		<div class="my-messages" style="margin-top: 1em">
			<div class="message-animation alert alert-danger" role="alert"
				style="display: block" ng-if="messages.showSubmittedError">{{errorText}}</div>
		</div>
	</form>
</div>

