<div class="jumbotron">
    <h2 class="text-center">Sign up as a studio owner user</h2> 
	<form name="studioSignupForm" class="form-horizontal" ng-submit="signup()"
    	role="form" novalidate>

		<div name="user-info" class="form-group has-feedback" style=margin:1px>
			 <!-- ng-class="{ 'has-error' : loginForm.username.$invalid, 'has-success' : loginForm.username.$valid }">-->
		
			<!-- USERNAME -->
		    <label>User Name</label>
	  		<input id="username" name="username" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.user.name" 
			   	ng-model-options="{ updateOn : 'default blur' }"
			   	ng-focus="ctrl.toggleUsernamePrompt(true)" 
			   	ng-blur="ctrl.toggleUsernamePrompt(false)"/>
	   	    
	   	    <!-- <label ng-show="ctrl.signupForm.username.$error" class="help-block validation-text">Username is required.</label>-->
	   	    
			<div class="my-messages" style=margin:2px>
			    <div class="prompt message-animation" ng-if="ctrl.showUsernamePrompt">
			        Enter your band's user name
			    </div>
			</div>
	
	
			<!-- PASSWORD -->
			<label>Password</label>
			<div class="input-group">
			   <input id="password" name="password" class="form-control" required
			      type="{{ctrl.getPasswordType()}}"
			      ng-model-options="{ updateOn : 'default blur' }"
			      ng-model="ctrl.signupForm.user.password"
			      validate-password-characters />
			    <span class="input-group-addon">
			        <input type="checkbox" ng-model="ctrl.showPassword"> Show
			    </span>
			</div>
			<!-- PASSWORD REQUIREMENTS -->
			<div class="password-requirements" ng-if="!ctrl.signupForm.password.$valid">
	    		<ul class="float-left">
		        	<li ng-class="{'completed':!ctrl.signupForm.password.$error.lowerCase}">
		            	One lowercase character
			        </li>
			        <li ng-class="{'completed':!ctrl.signupForm.password.$error.upperCase}">
			            One uppercase character
			        </li>
			        <li ng-class="{'completed':!ctrl.signupForm.password.$error.number}">
			            One number
			        </li>
			        <li ng-class="{'completed':!ctrl.signupForm.password.$error.specialCharacter}">
	            		One special character
	        		</li>
	        		<li ng-class="{'completed':!ctrl.signupForm.password.$error.eightCharacters}">
	            		Eight characters minimum
	        		</li>
	    		</ul>
	    		<!-- <ul class="selfclear clearfix">-->
			</div>
			
		</div>

		<div name="studio-info" class="form-group has-feedback" style=margin:3px>
		<h3>Studio Info</h3>
			<!-- STUDIO NAME -->
			<label>Studio Name</label>
	  		<input id="studio-name" name="studio-name" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.studio.name" />
			<br>

			<!-- CITY & AREA -->			
			<div data-role="field-group">
				<label for="select_areas">Area:</label> <span class="nullable">
					<select class="form-control" ng-model="chosenArea"
					ng-options="area as area.name for area in areas"
					ng-change="onAreaChanged()">
						<option value="">-- Choose an area from the list --</option>
				</select>
				</span>
				<label for="select_cities">City:</label>
				<span class="nullable">
					<select
						class="form-control" ng-model="ctrl.signupForm.studio.city" required
						ng-options="city as city.name for city in cities">
							<option value="">-- Choose a city from the selected area --</option>
					</select>
				</span>
			</div>
			
			<!-- ADDRESS -->
			<label>Address</label>
	  		<input id="studio-address" name="studio-address" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.studio.address" />
			<br>
			
			<!-- E-MAIL -->
			<label>e-mail</label>
	  		<input id="studio-email" name="studio-email" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.studio.email" />
			<!-- TODO: Add email validators -->
			<br>

			<!-- CONTACT NAME -->
			<label>Contact Name</label>
	  		<input id="studio-contact-name" name="studio-contact-name" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.studio.contact_name" />
			<br>
			
			<!-- SITE -->
			<label>Site</label>
	  		<input id="studio-site" name="studio-site" 
				class="form-control" type="text"
			   	ng-model="ctrl.signupForm.studio.site" />
			<br>

			<!-- FACEBOOK -->
			<label>Facebook Page</label>
	  		<input id="studio-facebook" name="studio-facebook" 
				class="form-control" type="text"
			   	ng-model="ctrl.signupForm.studio.facebook" />
			<br>
			
			<!-- PHONE -->
			<label>Phone</label>
	  		<input id="studio-phone" name="studio-phone" 
				class="form-control" type="text" required
			   	ng-model="ctrl.signupForm.studio.phone" />
			<br>
			
			<!-- EXTRA DETAILS -->
			<label>More details about your studio</label>
	  		<input id="studio-details" name="studio-details" 
				class="form-control" type="text"
			   	ng-model="ctrl.signupForm.studio.extra_details" />
			<br>
			
			<!-- LOGO -->
			<label>Studio Logo</label>
	  		<input id="studio-logo" name="studio-logo" 
				class="form-control" type="url"
			   	ng-model="ctrl.signupForm.studio.logo"
			   	ng-model-options="{ updateOn : 'default blur' }"
			   	ng-focus="ctrl.toggleLogoPrompt(true)" 
			   	ng-blur="ctrl.toggleLogoPrompt(false)"/>
			<div class="my-messages" style=margin:2px>
			    <div class="prompt message-animation" ng-if="ctrl.showLogoPrompt">
			        Enter a URL of an image, it will be shown on the preview below
			    </div>
			</div>
			
			<!-- <div ng-show="ctrl.signupForm.studio.logo"> -->
				<label>Logo preview:</label>
				<img ng-src="{{ctrl.signupForm.studio.logo}}"
					width="200em"
			 		class="img-responsive img-thumbnail"/>	
			<!-- </div> -->
			<br>
		</div>
		
		<div name="rooms-in-studio" class="form-group has-feedback" style=margin:3px>
		
			<!-- ROOMS LIST -->
			<div name="rooms-list" style=margin:1px>
				<table align="left" width="100%">
					<tr>
						<td><label><strong>Room List:</strong></label></td>
					</tr>
					<tr>
						<td colspan="2">
							<ul class="list-group" id="playing-bands-list">
									<li ng-repeat="room in ctrl.signupForm.studio.rooms" class="media-list list-group-item" 
										ng-include src="'templates/room_signup_preview.htm'">
									</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			
			<!-- ADD ROOM BUTTON -->
			<div style="margin-top: 1em">
				<div class="row">
					<div class="col-sm-offset-5 col-sm-2 text-center">
						<button type="button" ng-click="ctrl.openAddRoomDialog()" id="button-add-room-dialog"
						class="btn btn-block center-block">Add Room</button>
					</div>
				</div>
			</div>
			
		</div>
		
		<br>
		<br>
		
		<!-- SIGNUP SUBMIT -->
		<div class="row">
			<div class="col-sm-offset-5 col-sm-2 text-center">
				<button type="submit" id="button-signup"
					class="btn btn-block btn-primary center-block"
					ng-disabled="studioSignupForm.$invalid || error.noRooms	">Sign Up</button>
					<!-- || error.noRooms -->
			</div>
		</div>
	
		<!-- ERROR MESSAGES -->
		<div class="my-messages" style="margin-top: 1em">
			<div class="message-animation alert alert-danger" role="alert"
				style="display: block" ng-if="showSubmittedError">{{errorText}}</div>
		</div>

	
	</form>
</div>