<!DOCTYPE html>
<html ng-app="musicRoom">
<head lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Room</title>
    <script src="lib/jquery-1.11.1.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/jquery.transit.min.js"></script>
   	<script src="lib/angular-ui-router.min.js"></script>
    	
	<link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" media="screen">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" media="screen">
	<link rel="stylesheet" href="css/validation_styles.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="lib/bootstrap.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
    
    <script src="lib/lodash.min.js"></script>
    <script src="lib/restangular.js"></script>
    
    <script src="scripts/music_room_app.js"></script>
    <script src="scripts/main_controller.js"></script>
    <script src="scripts/login_controller.js"></script>
    <script src="scripts/band_list_controller.js"></script>
    <script src="scripts/studio_list_controller.js"></script>
    <script src="scripts/directives.js"></script>	
</head>
<body class="container" ng-controller="MainController">
	<header class="top" role="header">
	    <div class="container">
			<a ui-sref="home" class="navbar-brand pull-left">
	      		<img src="images/musicRoom_logo.gif" height="20em"/>
	      	</a>
	        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="glyphicon glyphicon-align-justify"></span>
	        </button>
	        <nav class="navbar-collapse collapse" role="navigation">
			<ul class="navbar-nav nav">
		        <li><a ui-sref="home" ng-click="checkLoginState()">Home</a></li>
		        <li><a ui-sref="bands" ng-click="checkLoginState()">Bands</a></li>
		        <li><a ui-sref="studios" ng-click="checkLoginState()">Studios</a></li>
			</ul>
	        </nav>
	    </div>
	</header>	
    <div height="1000px">
		<div ui-view="view"></div>
	</div>
</body>
</html>